.modal-container{
    background-color: rgba(0,0,0,0.5);
    z-index: 100;
    margin: 0;
    padding: 0;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
}
.modal-container div{
    background-color: white;
    width: 350px;
    height:80px;
    position: relative;
    left:15%;
    top:15%;
}
.modal-container div form div,.modal-header{
    background-color: white;
    width: 350px;
    height:80px;
    left: 0 !important;
}
.modal-container div div{
    width: 350px;
    height:80px;
}
.modal-container div div button{
    position: absolute;
    right: 15px;
}